<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p1.kr.mybatis.IMapperMyUpload">
	<select id="getBoardList" resultType="com.p1.kr.domain.DomainMyBoardList">
	  SELECT boardid, author, title, content, createat FROM springp1.myboard order by createat desc
	</select>
	 
 	<insert id="uploadContent" parameterType="com.p1.kr.domain.DomainMyBoard"
 		useGeneratedKeys="true" keyProperty="boardid" keyColumn="boardid">
 		
        INSERT INTO springp1.myboard (author, title, content)
        VALUES (
            #{author},
            #{title},
            #{content}
        )
	</insert>
	

	<insert id="uploadFile" parameterType="com.p1.kr.domain.DomainMyBoardFile"
		>
        INSERT INTO springp1.myfilelist (
            boardid,
            originname,                         
            newname,                      
            path,                                   
            filesize
        )
        VALUES (
            #{boardid},
            #{originname},
            #{newname},
            #{path},
            #{filesize}
        )
    </insert>
    

    <update id="updateContent" parameterType="com.p1.kr.domain.DomainMyBoard">
        UPDATE springp1.myboard SET
                title=#{title},
                content=#{content}, 
                createat=now()  
        WHERE boardid=#{boardid}
    </update>

    <delete id="removeContent" parameterType="int">
       DELETE FROM springp1.myboard WHERE boardid=#{boardid}
    </delete>
    <delete id="removeFile" parameterType="int">
	    DELETE FROM springp1.myfilelist WHERE boardid = #{boardid}
	</delete>

	<select id="getBoard" resultType="com.p1.kr.domain.DomainMyBoard" parameterType="int">
	    SELECT boardid, author, title, content, createat
	    FROM springp1.myboard where boardid = #{boardid}
	</select>
	

	<select id="getFileList" resultType="com.p1.kr.domain.DomainMyBoardFile" parameterType="int">
	    SELECT boardid, originname, newname, path, filesize
	    FROM springp1.myfilelist where boardid = #{boardid}
	</select>
		<select id="getFile" resultType="com.p1.kr.domain.DomainMyBoardFile" parameterType="int">
	    SELECT boardid, originname, newname, path, filesize
	    FROM springp1.myfilelist where boardid = #{boardid} limit 1
	</select>
</mapper>